/*
@font-face{
}
*/
* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  font-size: 13px;
  margin: 16px 32px 16px 32px;
  //background-color: #fffde4;
  background: linear-gradient(to bottom, #9eefed 0%, #fffde4 12%);
}

.bg-image{
  width: 762px;
  height: 418px;
  background-image: url("../img/headBg.jpg");
  margin: -16px 0 0 -32px;
}

h1, h2, h3, h4, h5, h6{
  font-family: Georgia;
  font-weight: lighter;
}

h1{
  font-size: 29px;
  color: #497f35;
  text-align: center;
  margin: 32px auto;
  //background: linear-gradient(to bottom, #f9f6d4, #fffde4);
}

h2{
  padding-top: 0;
  font-size: 36px;
  color: #0b636b;
}

h3{
  font-size: 26px;
  color: #2c787b;
  margin-bottom: 6px;
}

h4{
  font-size: 20px;
  color: #5c4527;
  margin-bottom: 0;
}

.exception{
  font-size: 20px;
  color: #943415;
  margin-bottom: 2px;
}

.no-margin-top{
  margin-top: 0;
}

.no-margin-bottom{
  margin-bottom: 0;
}

.hidden{
  display: none;
}

p{
  color: #bb9d59;
}

a{
  text-decoration: none;
}

button{
  font-size: 11px;
  height: 18px;
  color: #943415;
  border-radius: 6px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 50%, rgba(230, 230, 230, 1) 80%, rgba(255, 255, 255, 1) 100%);
  border: 1px solid rgba(128, 128, 128, 0.5);
  border-style: outset;
  padding: 0 16px;
  margin: 0 4px;
}

label{
  color: #bb9d59;
}

img {
  max-width: 100%;
  height: auto;
}

.container{
  margin: 0 auto;
  display: inline-block;
  margin-bottom: 64px;
}

.logo {
  width: 42%;
  position: absolute;
  top: 48px;
  right: 0;
}

.logo h2 {
  font-size: 52px;
}

.main-nav{
  width: 42%;
  position: absolute;
  top: -10px;
  right: 0;
  //float:right;
}

.main-nav ul{
    line-height: 16pt;
    padding-left: 0; //list reset
}

.main-nav li{
  color: #45ada9;
  margin-left: 5px;
  border-left: 2px dotted black;
  list-style: none;
  display: inline-block;
  -webkit-transition: background-color .3s ease-in-out;
  }

.main-nav li:hover, .main-nav li:active{
  color: #943415;
  background-color: rgba(255,255,255,1);
  border-radius: 5px;
}

.main-nav li a{
  margin: 0 3px;
  padding: 0;
  color: #26606d;
  background-color: rgba(255,255,255,0);
  border-radius:5px;
  -webkit-transition: color .3s ease-in-out;
}
.main-nav li a:hover, .main-nav li a:active{
    color: #943415;
}

.footer-nav{
  color: #943415;
}

.footer-nav li{
  border-left: 2px solid #943415;
  list-style: none;
  display: inline-block;
}

.footer-nav li a{
  color: #943415;
}

.main-nav li:first-child, .footer-nav li:first-child{
  border-left:none;
}

.main-nav a,
.footer-nav a {
    font-weight: bold;
    font-size: 12px;
    margin: 0 8px 0 8px;
    text-decoration: none;
}

.user-login{
  width: 42%;
  position: absolute;
  top: 100px;
  right: 0;
  float: right;
  color: #bb9d59;
}

.user-login a{
  color: #943415;
}

.user-login button{
  margin: 12px 12px 12px 12px ;
  //float: right;
}

#register{
  font-size: 18px;
}

input{
  font-size: 12px;
  color: #bb9d59;
  margin:8px 12px 12px 0;
  background-color: #f9f6d4;
  border-style: none;
}

.user-login input{
  width: 44%;
  height: 20px;
  font-size: 12px;
  color: #bb9d59;
  margin:8px 12px 12px 0;
  background-color: #f9f6d4;
  border-style: none;
}



.main-content{
  width: 64%;
  display: inline-block;
  float: left;
  padding-right: 30px;
}

.fancy-frame{
  width: 191px;
  height: 202px;
  float: left;
  background-image: url("../img/pic1.jpg");
}

.fancy{
  position: relative;
  color: black;
  top: 32px;
  left: 27px;
}
.bar{
  //background-color: black;
  background-color: #f9f6d4;
  margin: 40px 0 8px 0;
  padding: 8px auto;
  height: auto;
  width: auto;
  }

.sidebar{
  width: 270px;
  display: inline-block;
  float: left;
  padding: 0 0 0 40px;
  background:  radial-gradient(farthest-side at 0% 50%,rgba(249, 246, 212, 1), rgba(249, 246, 212, 1),rgba(0,0,0,0));
  //background: linear-gradient(to right, rgba(249, 246, 212, 1) 10%, rgba(249, 246, 212, 0) 90%);
  //background-color: #999999;
}

.photo-frame{
  margin: 24px 0px 40px 0px;
}

.photo{
  //position:static;
  border: 4px solid #bb9d59;;
}

#intro{
  padding-bottom: 24px;
}

#intro .fa-pencil-square-o{
  border-left: 2px solid rgba(222,212,72,1);
  padding-left: 12px;
  margin-left:-24px;
}

#intro button{
  border: none;
  background: rgba(255,255,255,0);
}
#spectrum{
  padding-bottom: 24px;
}

#spectrum ul{
  list-style: none;
}

#spectrum ul li{
    border-top: 1px dashed #bb9d59;
}

#spectrum ul li:first-child{
    border-top: none;
}
#spectrum ul li a{
  line-height: 16pt;
  font-size: 11px;
  font-weight: bold;
  color: #943415;
}

#testimonial{
  float: left;
  padding-bottom: 24px;
}

#photo-stock{
  padding-bottom: 32px;
  width: 300px;
}

#quick-contact input{
  border: 2px solid rgba(232,230,200,1);
 width: 100%;
}

#quick-contact{
  padding-bottom: 32px;
}

#quick-contact button{
  float: right;
  width:109px;
  padding: 0;
  margin:2px;
}

#project-links{
  padding-bottom: 24px;
}

#project-links ul{
  margin-left: -22px;
}

#project-links ul li a{
  color: #bb9d59;
  font-style: italic;
}

.fa-search-plus{
  color: black;
}

blockquote{
  color: #bb9d59;
  margin-left: 0;
}

blockquote::first-line{
  font-weight: bold;
}

blockquote p{
  font-size: 12px;
  font-style: normal;
  color: #943415;
}

blockquote cite{
  font-style: normal;
  font-weight: bold;
}

blockquote::before{
  content:url("../img/quo.jpg");
  position: relative;
  top: -2px;
  margin-right: 6px;
  padding:0;
}

.zoom{

  float:right;
  position:absolute;
  right:80px;
}

.zoom button{
  border: 0px dotted red;
  background: rgba(255,255,255,0);
}

.list-links ul{
  margin-left: 0;
}

.list-links li, .list-services li{
  color: #943415;
  border-top: 1px dotted #888888;
}

.list-links li:first-child, .list-services li:first-child{
  border-top: none;
  font-weight: bold;
  color: #943415;
}

.list-services a {
    font-size: 5px;
    //border-top: 1px dotted #888888;
    //list-style: none;
}

.subscript{
  font-size: 10px;
  text-decoration: underline;
  padding: 36px 24px 0px 32px;
}

.subscript a{
  color: #943415;
}

.gradient-line{
  position: relative;
  height: 3px;
  background: linear-gradient(to right,rgba(249, 246, 212, 0), #f9f6d4, rgba(249, 246, 212, 0));
}

footer{
  //border-top: 2px solid #bb9d59;
  //margin-top: 128px;
  position:static;
  clear.both
  text-align: center;
}

footer div {
  font-size: 12px;
  color: #bb9d59;
  text-align: center;
}

footer a{
  color: #943415;
}

footer button{
  width: 80px;
}

.format-buttons li{
  display:inline-block;
}

@media (max-width: 400px) {
  .main-content,
  .sidebar,
  .user-login,
  .logo{
    width: 100%; padding-left: 15px; padding-right: 15px; float:left; position: relative;
  }
  p, a, li, blockquote{
    font-size: 16px;
  }
  p, h3, h4, h5, h6, a, li, blockquote{
    line-height: 150%;
  }
  .logo,
  .user-login{
    -webkit-filter: drop-shadow(0 0 10px rgba(255,255,255,1));
  }
    .bg-image{
    -webkit-filter: blur(3px) saturate(60%);
  }
  button{
    font-size: 18px;
    width: 160px;
    height: 48px;
  }
  .fancy-frame, .fancy{
    margin: auto;
    padding: auto;
    right: 12px;
    width: 90%;
    height: 90%;
    background-size: 280px;
    background-position: center;
  }

  .main-nav a{
    font-size: 18px;
    display: block;
    color: blue;
    float: left;
    padding-left:8px;
    padding-right: 8px;
  }

  #photo-stock button{
    margin: auto;
  }

}
